# =========================
# Node / Next.js
# =========================
node_modules/
.next/
out/
dist/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# =========================
# Uploads / Extracted Files
# =========================
uploads/
extracted/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Build Files
# =========================
coverage/